
RewriteEngine On

# Cuando llegue una peticion a test mandamelo a pepe.php
#RewriteRule ^test$	pepe.php [END]
#RewriteRule ^test/([a-z]+)$	parametro.php?nombre=$1 [END]

RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^borrar/([0-9A-Za-z]+)$	borrarUsuario.php?id=$1 [END]

RewriteCond %{REQUEST_METHOD} =PUT
RewriteRule ^actualizar/([0-9A-Za-z]+)$	actualizarUsuarioJson.php   [END]
RewriteRule ^actualizar$		actualizarUsuarioJson.php   [END]

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^crear$			crearUsuario.php [END]

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^usuarios$			listarUsuarios.php [END]
RewriteRule ^usuario/([0-9]+)$		obtenerUsuario.php?id=$1 [END]
